h1 {
    margin: 0;
}

.container {
    margin: 1.5rem auto;
    width: 95%;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    width: 100%;
}

.inputField {
    width: 30rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.card {
    margin: 1.5rem;
    white-space: pre-wrap;
    width: 20rem;
}

.converterButton {
    display: flex;
    justify-content: center;
    width: 100%;
}