@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

body, div, p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.container {
    background-color: rgb(56, 56, 56);
    color: white;
    margin: 0;
    min-height: 830px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.section {
    background-color: white;
    border: 3px solid grey;
    border-radius: 6px;
    color: black;
    height: 300px;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

/*NAME GENERATOR*/

#nameGenerator_realName {
    border: none;
}
#nameGenerator_realName:focus {
    border: none;
}

#nameGenerator_display {
    background-color: antiquewhite;
    border-radius: 6px;
    font-family: 'Fleur De Leah', cursive;
    height: 120px;
    margin: 20px auto;
    text-align: center;
    font-size: 4.5rem;
    width: 90%;
}