.stitch{
    position: absolute;
    width: 35%;
}
.imagenes{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.imagen1{
    border: 2px solid rgb(226, 153, 165);
    width: 80%;
}
