* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 {
    margin: 0px;
}

/*Tipos de letra*/
.letra1 {
    font-family: 'Pacifico', cursive;
}

.letra2 {
    font-family: 'Indie Flower', cursive;
}

.negrita {
    font-weight: 700;
}

/*HEADER*/
header {
    background-color: rgb(255, 227, 231);
    padding: 20px;
    text-align: center;
}

/*NAV*/
/*estilo del nav*/
nav {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

/*Botones*/
.btn {
    background-color: rgb(255, 203, 211);
    border-radius: 5px;
    border-style: none;
    color: black;
    cursor: pointer;
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: box-shadow;
    z-index: 5;
}

.btn:hover {
    background-color: rgb(226, 153, 165);
    box-shadow: 0 8px 10px 0 rgb(124, 95, 100), 0 6px 20px 0 rgb(124, 95, 100);
}

/*Borde debajo del nav*/
#borde-bot {
    background: linear-gradient(to right, rgb(226, 153, 165) 40%, rgb(58, 137, 255) 100%);
    content: "";
    display: block;
    height: 2px;
    margin: 20px 0;
    width: 100%;
}

/*Main*/
main {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    justify-content: space-evenly;
    padding: 10px;
}

.main-pictures-movil {
    height: 500px;
}

.mickey {
    background-attachment: fixed;
    background-image: url("../img/circulo-flores1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    height: 500px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.mickey img {
    bottom: 0;
    max-width: 400px;
    position: absolute;
    width: 90%;
}

/*Footer*/
footer {
    margin: 10px;
}

/*Página pictures*/
/*Lilo y Stitch*/
#lilo {
    position: absolute;
    bottom: 0;
    left: -8%;
    width: 20%;
}

#stitch {
    position: absolute;
    bottom: 0;
    right: -7%;
    width: 20%;
}

/*Seccion de imagenes*/
.imagenes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

/*Carrousel de imagenes*/
.carrousel {
    order: 1;
    position: relative;
    width: 90%;
}

/*imagen del carrousel*/
#imagen1 {
    border: 2px solid rgb(226, 153, 165);
    width: 100%;
}

/*Para ir a la foto anterior*/
.atras {
    order: 2;
}

/*Para ir a la foto siguiente*/
.siguiente {
    order: 3;
}

/*Breakpoints responsivo*/
@media (min-width: 420px) {
    .mickey img {
        width: 60%;
    }
}

@media (min-width: 640px) {

    /*del index.html*/
    main {
        height: 900px;
    }

    .mickey {
        background-size: 50%;
        height: 700px;
    }

    .mickey img {
        width: 40%;
    }

    /*De pictures.html*/
    #lilo {
        left: -13%;
    }

    #stitch {
        right: -13%;
    }

    .carrousel {
        order: 2;
        width: 40%;
    }

    .atras {
        order: 1;
    }

    .siguiente {
        order: 3;
    }

    /*Botones*/
    .btn {
        padding: 2rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

}

@media (min-width: 1024px) {
    main {
        height: 1200px;
    }

    .mickey {
        background-size: 45%;
        height: 1000px;
    }

    .mickey img {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .mickey {
        background-size: 30%;
    }

    .mickey img {
        width: 30%;
    }
}