* {
    box-sizing: border-box;
}

/*Quitar Margenes*/
body,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

/*Container*/
.container {
    width: 100%;
}

.validacion {
    align-items: center;
    background-color: #ccc;
    border: 2px solid silver;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    padding: 30px;
    width: 400px;
}

.validacion>p {
    text-align: center;
    width: 100%;
}

.user-block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.passwd-block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.validacion>input {
    width: 25%;
}

/*Display de los mensajes de error*/
#user-req,
#user-length,
#passwd-req,
#passwd-length {
    color: rgb(204, 23, 23);
    display: none;
}
/*Display de la validación correcta*/
#validacion-correcta {
    color: green;
    display: none;
}